
.label {
    position: relative;
    margin-bottom: 0px;
    color: black;
    font-weight:bold;
}
  
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #a49c9cb8;
    color: #010101;
    text-align: center;
    border-radius: 6px;

    
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -60px;
  }
  
.label:hover .tooltiptext {
    visibility: visible;
  }
  .moje{
     background-color: #FFC107;
  }