.container{
    position: relative;
    display: inline-block;
}
.button{
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.container:hover .button{
    opacity: 1;
}
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}
.hey{
  background-color: #bf1f1f;
}
.search-bar {
  min-width: 200px;
  margin-top: 10px;
  align-items: center;
}
.search-bar-container {
  display: flex;
  min-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 760px){
  .media{
    width: 75%;
  }
}