.clickable-div {
    background-color: #D3BCE2; /* Example background color, use color picker for exact color */
    color: white; /* Adjust text color as needed */
    padding-top: 10px;
    font-family: Arial, sans-serif; /* Use the font that matches your design */
  }

  /* Add styles for your countdown timer here */
  .countdown-timer {
    font-size: 12px;
  }

  /* Add styles for your shop now button here */
  .shop-now-button {
    font-size: 12px;
    color: #000; /* Adjust button text color as needed */
    background-color: #f47207; /* Adjust button background as needed */
    border: none;
    cursor: pointer;   
    padding-left: -20px;
  }